.filter-buttons{
    float:right;
    justify-content: right;
}

select{
    margin: 6px;
    margin-bottom: 16px;
    padding: 4px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid rgb(54, 52, 52);
    outline: none;
}


  
  
  